#quick-exit {
	position: fixed;
	right: 0;
	top: 20%;
	font-size: 200%;
	padding: .2em .7em;
	white-space: nowrap;
	background: #F7D418;
	color: #000;
	border: 0.2em solid #000;
	border-radius: 1.7em 0 0 1.7em;
	border-right: none;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	box-shadow:
		0 0 0 0.1em #F7D418,
		2px 2px 5px 0.1em rgba(0, 0, 0, 0.5);
	transform: translateX(1.7em);
	transition: transform 10ms;
	z-index: 99999;
}
#quick-exit:hover,
#quick-exit:focus {
	transform: scale(1.2);
}
#quick-exit[accesskey]::before {
    content: "Press '" attr(accesskey) "' to exit";
    text-transform: uppercase;
    display: block;
    font-size: 50%;
}
