$approxLineHeight: 1.7em;
// default: black on yello
$yellowColor: #000;
$yellowOffsetColor: #1D4F9C;
$yellowBackgroundColor: #F7D418;
// theme: white on green
$greenColor: #fff;
$greenOffsetColor: #F7D418;
$greenBackgroundColor: #006A56;
// theme: blue on white
$blueColor: #1D4F9C;
$blueOffsetColor: #000;
$blueBackgroundColor: #fff;


@mixin theme($color, $backgroundColor, $offsetColor) {
	background: $backgroundColor;
	color: $color;
	border: .2em solid $color;
	border-right: none;
	box-shadow:
		0 0 0 .1em $backgroundColor,
		2px 2px 5px 0.1em rgba(0, 0, 0, 0.5);

	a {
		color: $color;
	}
	a:focus,
	a:hover {
		color: $offsetColor;
	}
}

#quick-exit {
	position: fixed;
	right: 0;
	top: 20%;
	font-size: 200%;
	line-height: 1;
	padding: .2em .2em .2em .7em;
	white-space: nowrap;
	border-radius: $approxLineHeight 0 0 $approxLineHeight;
	cursor: pointer;
	font: {
		family: sans-serif;
		weight: bold;
	}
	transform-origin: right center;
	transition: transform 10ms;
	z-index: 99999;
	@include theme($yellowColor, $yellowBackgroundColor, $yellowOffsetColor);

	&:hover {
		transform: scale(1.2);
	}

	header,
	footer,
	&::after {
		display: block;
		font: {
			size: 50%;
			weight: normal;
		}
		text-align: center;
		margin: .3em 0;
	}

	header strong,
	footer strong,
	&::after {
		font-weight: bold;
		text-transform: uppercase;
	}

	&[accesskey]::after {
		content: "or press '" attr(accesskey) "'";
	}
	&[data-accesskey]::after {
		content: "or press '" attr(data-accesskey) "'";
	}

	ul, li {
		display: inline;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	a {
		text-decoration: none;
	}

	svg {
		height: 1em;
		width: auto;
		fill: currentColor;
	}

	// themes
	&.green {
		@include theme($greenColor, $greenBackgroundColor, $greenOffsetColor);
	}
	&.blue {
		@include theme($blueColor, $blueBackgroundColor, $blueOffsetColor);
	}
}